
{% extends "base.html.twig" %}

{% block title %}Upload do arquivo{% endblock %}
{% block body %}
    <h3>Versão de teste!!!</h3>
    <br>

    {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <br>
    <br>
    <p>
        Desenvolvido por Curso de Analise e Desenvolvimebto de Sistemas da ULBRA TORRES.<br>
        Desenvolvido por Professor Paulo Ignacio (Desenvolvedor e fundador do projeto) e Lucas Saraiva<br>
        Se identificar qualquer problema, por favor reportar o email: computacao.torres@ulbra.br<br>
        </p>

{% endblock %}