{% extends "base.html.twig" %}

{% block title %}Upload do arquivo{% endblock %}
{% block body %}
    <h2>Versão de teste!!!<h2>
    <br>
    <br>
    <div class="container">
        <form action="/upload" method="POST">
                <div class="input-group mb-3">
                    <input type="file" name="fileToUpload" id="fileToUpload" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </form>
    </div>
    <p>
    Desenvolvido por Curso de Analise e Desenvolvimebto de Sistemas da ULBRA TORRES.<br>
    Desenvolvido por Professor Paulo Ignacio<br>
    Se identificar qualquer problema, por favor reportar o email: computacao.torres@ulbra.br<br>
    </p>
    

{% endblock %}